<div class="row">
  <!-- 左カラム -->
  <div class="col-xs-3">
    <%= render 'books/left_side', user: @user, book: @book_new %>
  </div>
  <!-- 左カラム終了 -->
  
  <!-- 右カラム -->
  <div class="col-xs-9">
    <h2>Book detail</h2>
    <table class="table">
      <tr>
        <td>
          <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, fallback:"no_image.jpg", size:'40x40' %><br>
          <%= link_to @book.user.name, user_path(@book.user_id) %>
        </td>
        <td><%= link_to @book.title, book_path(@book.id) %></td>
        <td><%= @book.body %></td>
        <% if @book.user == current_user %>
          <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success btn-sm btn_txt_color" %></td>
          <td><%= link_to "Destroy", book_path(@book.id), class:"btn btn-danger btn-sm btn_txt_color", method: :delete,
          data: {confirm: "本当に削除しますか?"} %></td>
        <% end %>
      </tr>
    </table>
  </div>
  <!-- 右カラム終了 -->
</div>